<page xmlns="http://projectmallard.org/1.0/"
      type="task"
      id="zoom-inout">

  <info>
    <revision version="0.1" date="2013-02-24" status="candidate"/>
    <link type="guide" xref="index#appearence"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimomva</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <desc>Increase or decrease text size.</desc>

  </info>

  <title>Zoom in and zoom out</title>

  <p>To increase <app>Terminal</app> text size:</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Zoom In</gui></guiseq> or press
      <keyseq><key>Ctrl</key><key>+</key></keyseq>.</p>
    </item>
  </steps>

  <p>To decrease <app>Terminal</app> text size:</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Zoom Out</gui></guiseq> or press
      <keyseq><key>Ctrl</key><key>-</key></keyseq>.</p>
    </item>
  </steps>

  <p>To restore <app>Terminal</app> text to default size:</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="View">View</gui> <gui
      style="menuitem">Normal Size</gui></guiseq> or press
      <keyseq><key>Control</key><key>0</key></keyseq>.</p>
    </item>
  </steps>

</page>
