<page xmlns="http://projectmallard.org/1.0/"
      type="guide"
      id="app-fullscreen">

  <info>
    <revision version="0.1" date="2013-02-17" status="candidate"/>
    <link type="guide" xref="index#appearence"/>
    <link type="seealso" xref="pref-menubar"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <desc>Enable fullscreen mode</desc>
  </info>

  <title>Fullscreen session</title>

  <p>Fullscreen mode allows <app>Terminal</app> to use the entire screen.</p>

  <p>This mode is useful if you have a device with limited screen space and
  intend to work in <app>Terminal</app> for a long duration, or are working with
  long lines of terminal output. It temporarily hides the window
  decoration, allowing you to view more <link xref="pref-scrolling">scrollback
  lines</link> on the screen.</p>

  <p>To enable fullscreen mode:</p>

  <steps>
    <item>
      <p>Select <gui style="menu">View</gui> and check
      <gui style="menuitem">Full Screen</gui>, or press <key>F11</key>.</p>
    </item>
  </steps>

  <note style="important">
    <p>The menubar will still be visible in fullscreen mode unless you have
    hidden it.</p>
  </note>

  <note style="tip">
    <p>If you have more than one <app>Terminal</app> tab open, the tab bar will
    be visible in the fullscreen mode.</p>
  </note>

  <p>To disable fullscreen mode:</p>

  <steps>
    <item>
      <p>Select <gui style="menu">View</gui> and uncheck
      <gui style="menuitem">Full Screen</gui>, or right click and select
      <gui style="menuitem">Leave Full Screen</gui>. Alternatively,
      press <key>F11</key>.</p>
    </item>
  </steps>

</page>
