<page xmlns="http://projectmallard.org/1.0/"
      type="guide"
      id="pref-profiles">

  <info>
    <revision version="0.1" date="2013-03-03" status="candidate"/>
    <link type="guide" xref="index#preferences"/>
    <link type="guide" xref="pref"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <desc>Create, edit and delete profiles.</desc>
  </info>

  <title>Manage profiles</title>

  <comment>
    <cite href="mailto:kittykat3756@gmail.com">Kat</cite>
    <p>Repeating that the user can edit the settings in each section is not
    very nice, we need to find a way around this.</p>
  </comment>

  <p>A profile is a collection of <app>Terminal</app> settings.
  <app>Terminal</app> supports multiple profiles. You can configure
  <app>Terminal</app> profiles to <link xref="pref-custom-command">run a custom
  command or shell</link>, set a profile exclusively to connect to remote
  computers using SSH or set a profile that launches a <app>GNU Screen</app>
  session.</p>

  <p>The available <app>Terminal</app> settings include:</p>

  <list>
    <item>
      <p>Profile name.</p>
    </item>
    <item>
      <p>Font and background colors.</p>
    </item>
    <item>
      <p><gui style="tab">Compatibility</gui> with <key>Backspace</key> and
      <key>Delete</key> keys.</p>
    </item>
    <item>
      <p><gui style="tab">Scrolling</gui>.</p>
    </item>
  </list>

  <p>The default profile is loaded when a new terminal is opened unless you
  have selected another profile. Any changes that you make to the settings will
  be stored in the currently used profile.</p>

  <section id="set-default" style="task">
    <title>Set a default profile</title>

    <p>The default profile is a collection of profile settings applied on the
    launch of every <app>Terminal</app> tab or window.</p>

    <steps>
      <item>
        <p>Select <guiseq><gui style="menu">Edit</gui>
        <gui style="menuitem">Preferences</gui>
        <gui style="tab">Profiles</gui></guiseq>.</p>
      </item>
      <item>
        <p>Select the profile to be set as default from the <gui>Profile used
        when launching a new terminal</gui> drop down list.</p>
      </item>
    </steps>

  </section>

  <section id="select-profile" style="task">
    <title>Select a profile</title>

    <p>You can change the profile in your current <app>Terminal</app> tab or
    window by selecting a profile from <guiseq><gui style="menu">Terminal</gui>
    <gui style="menuitem">Change Profile</gui></guiseq>.</p>

  </section>

  <section id="new-profile" style="task">
    <title>Create a new profile</title>

    <p>Any changes to a new profile are saved automatically. To create a new
    profile:</p>

    <steps>
      <item>
        <p>Select <guiseq><gui style="menu">File</gui>
        <gui style="menuitem">New Profile</gui></guiseq>.</p>
      </item>
      <item>
        <p>Enter a name for the new profile next to
        <gui style="input">Profile name</gui>.</p>
      </item>
      <item>
        <p>Select <link xref="app-fonts">font</link>,
        <link xref="app-cursor">cursor shape</link> and
        <link xref="app-terminal-sizes">window size</link> in the
        <gui style="tab">General</gui> tab.</p>
      </item>
      <item>
        <p>Set your preferred behaviour for the
        <link xref="pref-custom-exit"><cmd>exit</cmd> command</link>.
        You can also set a
        <link xref="pref-custom-command">custom shell</link> in the
        <gui style="tab">Title and Command</gui> tab.</p>
      </item>
      <item>
        <p>Set your preferred <link xref="app-colors">theme and colors</link> in the <gui style="tab">Colors</gui> tab.</p>
      </item>
      <item>
        <p>Set your <link xref="pref-scrolling">scrolling preference</link> in
        the <gui style="tab">Scrolling</gui> tab.</p>
      </item>
    </steps>

  </section>

  <section id="create-profile-from-existing" style="task">
    <title>Create a new profile based on an existing profile</title>

    <p>You can create a new profile based on settings from an existing
    profile:</p>

    <steps>
      <item>
        <p>Select the profile that you wish to edit from
        <guiseq><gui style="menu">Terminal</gui>
        <gui style="menuitem">Change Profile</gui>
        <gui style="menuitem"><var>Profile name</var></gui></guiseq> where
        <var>Profile name</var> is the name of the profile that you wish to
        edit. Alternatively, you can select <guiseq>
        <gui style="menu">File</gui>
        <gui style="menuitem">New Profile</gui></guiseq> to clone the profile
        that you are currently using.</p>
      </item>
      <item>
        <p>Set your desired <link xref="#edit-profile">profile
        preferences</link>. These will be saved automatically. If you do not
        update the profile name, the new profile will not overwrite the profile
        that it is based on.</p>
      </item>
    </steps>

    <p>Alternatively, you can create a copy of the existing profile first and
    then edit the profile:</p>

    <steps>
      <item>
        <p>Select <guiseq><gui style="menu">Edit</gui>
        <gui style="menuitem">Preferences</gui>
        <gui style="tab">Profiles</gui></guiseq>.</p>
      </item>
      <item>
        <p>Select your desired profile.</p>
      </item>
      <item>
        <p>Click <gui style="button">Clone</gui>.</p>
      </item>
      <item>
        <p>Set your <link xref="#edit-profile">desired profile
        preferences</link>. These will be saved automatically. If you do not
        update the profile name, the new profile will not overwrite the profile
        that it is based on.</p>
      </item>
    </steps>

    <note>
      <p>Creating a new profile from an existing profile will not affect
      settings in an existing profile. Any changes to settings will be stored
      in the new profile.</p>
    </note>

  </section>

  <section id="edit-profile" style="task">
    <title>Edit a profile</title>

    <note style="warning">
      <p>If the default profile is edited, it cannot be restored to its
      original settings! If you have not already created any other
      <app>Terminal</app> profiles and have customized the default profile,
      <app>Terminal</app> <em>may</em> become unusuable should any settings
      cause problems. It is recommended that you
      <link xref="#create-profile-from-existing">create a copy of the
      default profile</link> then edit the copy to create a custom profile.</p>
    </note>

    <p>You can make changes to existing profiles. To edit a profile, select
    <guiseq><gui style="menu">Edit</gui>
    <gui style="menuitem">Profile Preferences</gui></guiseq>.</p>

    <steps>
      <item>
        <p>Select <link xref="app-fonts">font</link>,
        <link xref="app-cursor">cursor shapes</link> and
        <link xref="app-terminal-sizes"><app>Terminal</app> size</link>.</p>
      </item>
      <item>
        <p>You may also change behaviour of <app>Terminal</app> on
        <link xref="pref-custom-exit">command exit</link>, set a
        <link xref="pref-login-shell">custom login shell</link> or change
        <link xref="pref-scrolling">scrollbar preferences</link>.</p>
      </item>
      <item>
        <p>To change the <app>Terminal</app> background and text colors, see
        <link xref="app-colors"><app>Terminal</app> color schemes</link>.</p>
      </item>
      <item>
        <p>Changes to profile are saved immediately. To return to
        <app>Terminal</app>, click <gui style="button">Close</gui>.</p>
      </item>
    </steps>

    <note style="important">
      <p>To make sure you are editing the desired profile, select the profile
      from <guiseq><gui style="menu">Terminal</gui>
      <gui style="menuitem">Change Profile</gui></guiseq>.</p>
    </note>

  </section>

  <section id="rename-profile" style="task">
    <title>Rename an existing profile</title>

    <p>You can rename existing profiles, including the default profile:</p>

    <steps>
      <item>
        <p>Select <guiseq><gui style="menu">Edit</gui>
        <gui style="menuitem">Preferences</gui>
        <gui style="tab">Profiles</gui></guiseq>.</p>
      </item>
      <item>
        <p>Select the profile you wish to rename.</p>
      </item>
      <item>
        <p>Click <gui style="button">Edit</gui>. This will open the
        profile preferences dialog for the selected profile.</p>
      </item>
      <item>
        <p>In the text box for <gui>Profile name</gui>, type the new profile
        name.</p>
      </item>
      <item>
        <p>Click <gui style="button">Close</gui> to return.</p>
      </item>
    </steps>

  </section>

  <section id="delete-profile" style="task">
    <title>Delete a Profile</title>
  
    <p>To delete a profile:</p>

    <steps>
      <item>
        <p>Select <guiseq><gui style="menu">Edit</gui>
        <gui style="menuitem">Preferences</gui>
        <gui style="tab">Profiles</gui></guiseq>.</p>
      </item>
      <item>
        <p>Select the profile you wish to delete. </p>
      </item>
      <item>
        <p>Click <gui style="button">Delete</gui>.</p>
      </item>
    </steps>

  </section>

</page>
